*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button{
  border-radius: 5px;
  padding: 5px;
  top: -9px;
  right: -4px;
  cursor: pointer;
  font-size: 16px;

  /* box-shadow: cadetblue; */
  outline: none;
  border:none;
  position: absolute;
  background-color: rgb(35, 108, 110);
}


.box{
  margin-top: 100px;
  width: 150px;  
  height: 150px;
  background-color: rgb(51, 116, 136);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
 
}

.animated{
    
    animation: move 6s alternate;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
  
  }

  @keyframes move {
    from {
      left: 0;
    }
    to {
      left: calc(100% - 160px);
    }
  }


  
  .divAnimated{
    width: 5%;
    padding: 3%;
    margin-top:50px;
    background-color: rgb(22, 163, 33);
    position: relative;
    animation-name: examples;
    animation-duration: 10s;
  }

  
  @keyframes examples {
    0%   { left:0%; top:0%;}
    100% {background-color:rgb(116, 43, 109); left:100%; top:0%;}
  }

  span{
    padding: 20px;
    font-size: larger;
  }

  .deliveryAlert {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(20, 20, 20, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliveryAlert::after {
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:400px;
    height:200px;
    background-color: white;
    border-radius: 10px;
    z-index: 9;
}

.popUp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: rgb(52, 116, 136);
  
  position: relative;
  z-index: 9999;
  font-size: 20px;
  text-align: center;
  color:black;
  
}
.span{
position: absolute;
top: -9px;
right: -4px;
cursor: pointer;
font-size: 16px;


}

.box{
margin-top: 100px;
width: 150px;  
height: 150px;
background-color: rgb(51, 116, 136);
position: relative;
display: flex;
justify-content: center;
align-items: center;
font-size: 36px;
font-weight: bold;
color: #fff;
cursor: pointer;

}

.animated{
  
  animation: move 6s alternate;
  animation-fill-mode: backwards;
  animation-timing-function: linear;

}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 160px);
  }
}
.running {
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}

